---
layout: null
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family:      Helvetica, Arial, sans-serif;
$base-font-size:        16px;
$small-font-size:       13px;
$base-line-height:      1.5;

$default-border-radius: 4px;
$spacing-unit:          15px;
$post-spacing-unit:     30px;

$post-font-size:        16px;

$post-title-color:      #fff;
$post-header-color:     #fff;
$text-color:            #ddd;
$background-color:      #222;
$column-background-color: rgba(34, 35, 38, 0.8);
$brand-color:           #49afef;

$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-med-light:  lighten($grey-color, 10%);
$grey-color-dark:       darken($grey-color, 25%);

$svg-icon-color:        #ffffff;
$border-color:          #666;
$code-border-color:     #333;
$blockquote-left-color: #F47920;
$blockquote-bg-color:   #141414;


// Width of the content area
$content-width:         1000px;

$on-phone:              400px;
$on-small:              600px;
$on-big:                1500px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}
@import
        "font-source-sans-pro",
        "font-fira-code",
        "base",
        "layout",
        "syntax-highlighting"
;