    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script async src='//edge.quantserve.com/quant.js'></script>
    <script>
      var _qevents=_qevents||[],ga=ga||function(){(ga.q=ga.q||[]).push(arguments)};
      ga.l=+new Date;
      _qevents.push({qacct:'{{ site.quantcast_key }}'});
      ga('create','{{ site.google_analytics_ua }}','auto');
      ga('send','pageview');
    </script>
    <noscript><div style="display:none;"><img src="//pixel.quantserve.com/pixel/p-078-BYb6YsRjM.gif" border="0" height="1" width="1" alt="Quantcast"/></div></noscript>