          <section class="comments">
            <div id="disqus_thread"></div>
          </section>
          <script>
            var disqus_shortname = '{{ site.disqus }}',
                disqus_url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}',
                discuss_identifier = '{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ page.url | prepend: site.baseurl | prepend: site.url }}{% endif %}';
          </script>
          <script async src='//{{ site.disqus }}.disqus.com/embed.js'></script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>