<section class="comments">
    <div id="disqus_thread"></div>
</section>
<script>
    var disqus_shortname = 'nickcraver',
        disqus_url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
    {% if page.disqus_identifier %}var discuss_identifier = '{{ page.disqus_identifier}}';{% endif %}
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//nickcraver.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>