        <nav class="site-nav">
            <a class="page-link{% if page.section == 'home' %} active{% endif %}" href="/">Home</a>
            <a class="page-link{% if page.section == 'blog' %} active{% endif %}" href="/blog/">Blog</a>
            {% for p in site.pages | sort:"name" %}{% if p.title %}
            <a class="page-link{% if page.url == p.url %} active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>{% endif %}{% endfor %}
{% include social.html %}
        </nav>