body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    background: #222;
    &.mac {
        padding: 5px;
        hr:first-child, hr + p, p + h2 {
            display: none;
        }
    }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}
figcaption {
    font-size: $small-font-size;
}


ul, ol {
    margin-left: 35px;
}
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    color: $brand-color;
    text-decoration: none;
    -webkit-transition: 100ms linear 0s;
    -moz-transition: 100ms linear 0s;
    -o-transition: 100ms linear 0s;
    transition: 100ms linear 0s;

    &:visited {
        color: darken($brand-color, 10%);
    }

    &:hover {
        color: $brand-color;
    }
}

blockquote {
    color: $grey-color-light;
    background-color: $blockquote-bg-color;
    border-left: 2px solid $blockquote-left-color;
    padding: 10px;
    margin-left: 20px;


    > :last-child {
        margin-bottom: 0;
    }
}

pre,
code {
    font-size: 15px;
    //border: 1px solid $grey-color;
    border-radius: 3px;
}
code {
    padding: 1px 5px;
    word-wrap: break-word;
    border: solid 1px #333;
}
pre {
    padding: 8px 12px;
    
    @include media-query($on-small) {
        overflow-x: scroll;
    }

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        word-wrap: normal;
    }
}
b, strong {
    color: #ddd;
}

.wrapper {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-small) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}
