@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.eot');
  src: url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('Source-Sans-Pro-regular'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.woff') format('woff'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.eot');
  src: url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Semibold'),
       local('Source-Sans-Pro-600'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.woff2') format('woff2'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.woff') format('woff'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.ttf') format('truetype'),
       url('../fonts/Source-Sans-Pro/Source-Sans-Pro-600.svg#SourceSansPro') format('svg');
}