/**
 * Site header
 */
.site-header {
    min-height: 50px;
    // Positioning context for the mobile navigation icon
    position: relative;

    .logo {
        float: left;
        height: 28px;
        width: 28px;
        margin: 6px;
        box-shadow: 0px 0px 4px #333;
    }
    .social-list {
        float: right;
    }
}

.site-title, .site-subtitle {
    display: block;
    float: left;
    text-decoration: none;
    font-weight: normal;
}

.site-title {
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 4px;
    font-size: 36px;
    border-right: 1px solid #adb0b4;
    padding-right: 12px;

    &, &:visited {
        color: #eeeeee;
    }
}
.site-subtitle {
    font-size: 18px;
    color: #cecece;
    padding-left: 12px;
    padding-top: 16px;
    padding-bottom: 12px;
    margin: 0;
    line-height: 1;
}

.site-nav {
  clear: both;
  background: $trans-block-color;
  border-radius: $default-border-radius;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 2.2;
  padding: 0 10px;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        &.active {
            color: #fff;
            text-shadow: 0 0 10px #fff;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin: $spacing-unit auto;
    width: $page-content-width;
    border-radius: $default-border-radius;
    padding: 1px;
    padding: $spacing-unit 0;

    background: -moz-linear-gradient(-45deg,  rgba(181,189,200,0.15) 0%, rgba(130,140,149,0.15) 1%, rgba(40,52,59,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(181,189,200,0.15)), color-stop(1%,rgba(130,140,149,0.15)), color-stop(100%,rgba(40,52,59,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(181,189,200,0.15) 0%,rgba(130,140,149,0.15) 1%,rgba(40,52,59,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(181,189,200,0.15) 0%,rgba(130,140,149,0.15) 1%,rgba(40,52,59,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(181,189,200,0.15) 0%,rgba(130,140,149,0.15) 1%,rgba(40,52,59,0.15) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(181,189,200,0.15) 0%,rgba(130,140,149,0.15) 1%,rgba(40,52,59,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26b5bdc8', endColorstr='#2628343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    h3 {
        margin-bottom: 2px;
        line-height: 1;
        a {
          color: #e0e2e7;
        }
    }
    p {
        font-size: 13px;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    line-height: 1.8;
    background: $trans-block-color;
    display: block;
    padding: 0 5px;
    border-radius: $default-border-radius;
    width: 400px;
    padding-top: 1px;
    margin-bottom: 1em;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size: $post-font-size;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
