.highlight {
    border: solid 1px #444;
    background-color: #151719;
    color: #f8f8f2;
    @extend %vertical-rhythm;
    pre, code { 
        font-family: "Fira Code", "monospace"; 
        font-size: 0.9em;
        -webkit-font-variant-ligatures: none;
        font-variant-ligatures: none; 
    }
    pre, .hll { 
        background-color: #151719; 
        margin-bottom: 0; 
    }
    .err { 
        color: #960050; 
        background-color: #1e0010;
    }
}
.c, .cm, .cp, .c1, .cs { color: #75715e }
.ge { font-style: italic }
.gs { font-weight: bold }
.k, .kc, .kd, .kp, .kr, .kt, .no { color: #66d9ef }
.o, .kn, .nt, .ow { color: #f92672 }
.na, .nc, .nd, .ne, .nf, .nx { color: #a6e22e }
.n, .p, .nb, .ni, .nl, .nn, .py, .w , .nv, .bp, .vc, .vg, .vi { color: #f8f8f2 }
.il, .l, .m, .mf, .mh, .mi, .mo, .se { color: #ae81ff }
.ld, .s, .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss { color: #e6db74 }